* {
  margin: 0em;
  padding: 0em;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("/Billeder/Forrest.png");
}

/*Header start*/
header {
  background-color: #405464;
  padding: 10px;
}

nav {
  display: flex;
  color: #f4f4f4;
}

ul {
  display: flex;
}

.name {
  margin-left: 5%;
  margin-right: auto;
}

.menu {
  margin-left: auto;
  margin-right: 5%;
}

li {
  margin: 1em 2em;
}

a {
  color: #f4f4f4;
}
/*Header slut*/

/*Introduktion start*/
.intro {
  display: flex;
  margin: 6em 9em;
  background-color: rgba(64, 84, 100, 0.7);
  height: 400px;
}

.welcome {
  margin: auto auto auto 10%;
  color: #e1a6a0;
  line-height: 1.5em;
  font-size: 35px;
  text-align: center;
}

.welcome p {
  font-size: 25px;
}

.photo {
  margin: auto 10% auto auto;
}

.Bes {
  margin: 3em;
  height: 200px;
}
/*Introduktion slut*/

/*Cases start*/

/*Cases slut*/
